@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 800px;
    width: 1440px;
    overflow: hidden;
}

.shape{
    width: 510px;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.shape-1{
    right: 20%;
    position: absolute;
    width: 510px;
    height: 700px;
    background-color: #8739FF;
    background-image: linear-gradient(90deg, #8739FF 20%, #E844FF 120%);
    border-bottom-left-radius: 255px;
    border-bottom-right-radius: 255px;
    
}
.section-2{
    position: absolute;
    top: 15%;
    left: 25%;
}
.mobile{
    width: 247px;
    height: 505px;
    border-radius: 30px;
    background-color: #Ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.285);
    position: relative;
    overflow: hidden;
    
}

.screen{
    width: 228px;
    height: 487px;
    background-color: #F5F3F7;
    position: absolute;
    left: 3.9%;
    top: 2%;
    border-radius: 20px;
}

.sm-screen{
    width: 129px;
    height: 29px;
    background-color: #Ffffff;
    position: absolute;
    left: 24%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    z-index: 1;

}

.profile{
    width: 100%;
    height: 66px;
    background:linear-gradient(45deg,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
}

.personal{
    padding-top: 13%;
    padding-left: 8%;
}

.menue i{
    position: absolute;
    left: 205px;
    top: 50%;
    font-size: 0.9rem;
}

.personal img{
    position: absolute;
    width: 24px;
    border-radius: 50px;
    border: 1.5px solid white;
    margin-left: 2.5%;
    
}

.fa-chevron-left{
    font-size: 0.7rem;
    margin-top: 7px;
}
.text{
    position: absolute;
    top: 44%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    color: #Ffffff;
    font-family: "Rubik";
}

.text h2{
    font-size: 11px;
    font-family: "Rubik";
    font-weight: 400;
    color: #Ffffff;
    padding-bottom: 2px;
}

.text h3{
    font-size: 8px;
    font-weight: 400;
    color: #D99EFF;
}

.chat{
    width: 128px;
    height: 28px;
    font-size: 8px;
    padding: 10px;
    color: #9341C8;
}

.chat-1{
    background-color: #EEE5F4;
    padding: 5px;
    width: 128px;
    height: 34px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-1 p{
    font-family:"Rubik";
    padding: 3px;
    width: 112px;
}

.chat-2{
    background-color: #EEE5F4;
    padding: 5px;
    margin-top: 5px;
    width: 128px;
    height: 34px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-2 p{
    font-family:"Rubik";
    padding: 3px;
    width: 119px;
    
}

.pic{
    margin-top: 30%;
    margin-left: 40%;
    width: 136px;
    height: 113px;
}

.images{
    width: 100%;
}

.images img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.text-pic{
    color: #EEE5F4;
    padding: 5px;
    font-family:"Rubik";
    font-weight: 400;
    color: #6E5D7E;

}

.text-1{
    margin-top: 5px;
    width: 128px;
    height: 34px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.068);
}

.text-1 h2{
    width: 122px;
    font-size: 8px;
    font-weight:200;
    padding: 6px;
}


.text-2{
    margin-top: 5px;
    font-size: 8px;
    float: right;
    width: 80px;
    height: 23px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.068);
}

.text-2 h3{
    padding: 7.5px;
    font-size: 8px;
    font-weight:300;
}

.answer{
margin-top: 10%;
 width: 160px;
 height: 125px;
padding: 5px;
 position: relative;
}

.text-2-2{
    width: 128px;
    height: 45px;
    background-color: #EEE5F4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 4px;
    margin-bottom: 5px;
}

.text-2-2 p{
    font-size: 8px;
    padding: 6px;
    font-family: "Rubik";
    color: #9341C8;
    font-weight:300;
}

.price{
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    font-family: "Rubik";
}

.price-1,.price-2{
    display: flex;
    width: 160px;
    height: 32px;
    color: #FFFFFF;
    font-weight: 300;
    background-image: linear-gradient(150deg, #E844FF  20%, #8739FF 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 4px;
    padding:10px;
    margin-top: 5px;
}

.text-price{
    margin-top: 1%;
    font-size: 8px;
    padding-left: 5px;
}

.circle{
    width: 12px;
    height: 12px;
    border: 1px solid #e572ff;
    border-radius: 50%;
}

.amount{
    position: absolute;
    right: 0;
    padding-right: 10px;
    font-weight: 800;
}

.input-text{
    position: absolute;
    margin-top: 10%;
    margin-left: 5px;
}

.input-text input{
    border: none;
    width: 213px;
    height: 33.9px;
    border-radius: 16.5px;
    position: relative;
}
input::placeholder{
    font-size: 9px;
    padding-left: 10px;
    font-family: "Rubik";
    color: #C5C9CC;
    transition: all 0.5s;
}

.input-text i{
    position: absolute;
    right: 5%;
    top: 20%;
    bottom: 50%;
    font-size: 1.3rem;
    color: #3E2753;
}

.main{
    position: absolute;
    right: 20%;
    top: 35%;
    font-family: "Rubik",sans-serif;
}
.main-h1{
    color: #3E2753;
    font-weight: 400;
    padding-bottom: 5%;
    font-size: 40px;
}
.main-p{
    width: 443px;
    font-weight: 300;
    font-size: 16px;
    color: #A39DA9;
}

.shape--{
    width: 510px;
    height: 700px;
    overflow: hidden;
}


.shape-2{
    left: 75%;
    top: 15%;
    position: absolute;
    width: 510px;
    height: 700px;
    background-color: hsla(270, 20%, 96%, 0.66);
    border-top-left-radius: 255px;
    border-top-right-radius: 255px;
    z-index: -1;
}


@media (max-width:375px){

    body{
        height: 400px;
        overflow: hidden;
    }

    .shape-1 {
        right: 64%;
        position: absolute;
        width: 510px;
        height: 700px;
        background-color: #8739FF;
        background-image: linear-gradient(90deg, #8739FF 20%, #E844FF 120%);
        border-bottom-left-radius: 255px;
        border-bottom-right-radius: 255px;
        top: -27%;
      }

      .mobile {
        width: 247px;
        height: 505px;
        border-radius: 30px;
        background-color: #Ffffff;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.285);
        position: relative;
        overflow: hidden;
        left: -28px;
        top: -56px;
      }

      .main {
        position: absolute;
        right: 6%;
        top: 72%;
        font-family: "Rubik",sans-serif;
      }

      .main-h1 {
        color: #3E2753;
        font-weight: 500;
        padding-bottom: 5%;
        font-size: 40px;
        text-align: center;
      }



      .main-p {
        width: 310px;
        font-weight: 300;
        font-size: 16px;
        color: #A39DA9;
        text-align: center;
      }

      .shape-- {
        width: 510px;
        height: 387px;
        overflow: hidden;
      }
      .shape-2 {
        left: 51%;
        top: 51%;
        position: absolute;
        width: 510px;
        height: 385px;
        background-color: hsla(270, 20%, 96%, 0.66);
        border-top-left-radius: 255px;
        border-top-right-radius: 255px;
        z-index: -1;
      }
}